<div class="container">
    <div class="row">
        <div class="col-md-3">
            Kullanıcı adı
        </div>
        <div class="col-md-9">
            <input autocomplete="off" [(ngModel)]="model.userName" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Şifre
        </div>
        <div class="col-md-9">
            <input autocomplete="off" type="password" [(ngModel)]="model.password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button (click)="login()">Giriş Yap</button>
        </div>
    </div>

    <div *ngIf="showAllert" class="allert">{{allertMessage}}</div>
</div>